MONGODB_URI=mongo-db-uri
SESSION_SECRET=your-session-secret-at-least-32-chars
AI_API_BASE_URL=https://integrate.api.nvidia.com/v1
AI_API_KEY=your-api-key
AI_MODEL_NAME=nvidia/nemotron-3-ultra-550b-a55b
RESEND_API_KEY=your-resend-key
CLOUDINARY_URL=your-cloudinary-url